<footer class="mat-elevation-z2" ngClass.lt-sm="xs" [@transitionAnimations]>
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap.xs="1em">
      <div fxLayout="column" [fxFlex]="100/2">
        <div><i class="far fa-envelope fa-fw"></i>&nbsp;<a href="mailto:harryseong@gmail.com">Email Us</a></div>
        <div><i class="fas fa-mobile-alt fa-fw"></i>&nbsp;<a href="tel:952.288.8879">Call Us</a></div>
        <div><i class="fas fa-donate fa-fw"></i>&nbsp;<a href="javascript:void(0)">Donate & Support</a></div>
      </div>
      <div fxLayout="column" [fxFlex]="100/2" fxLayoutAlign="start end" fxLayoutAlign.xs="start start">
        <div><a href="https://www.harryseong.com/" target="_blank">By Harry Seong</a></div>
        <div>Evanston, IL, USA</div>
        <div>&copy; 2019 BookDB</div>
      </div>
  </div>
</footer>
