<div mat-dialog-title fxLayout="row" fxLayoutAlign="start">
  <div class="page-header">Sign Up</div>
  <span class="spacer"></span>
  <button mat-icon-button (click)="closeDialog()">
    <span><i class="fas fa-times"></i></span>
  </button>
</div>

<div mat-dialog-content>

  <form [formGroup]="signupForm" fxLayout="column" fxLayoutGap="1em">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1em">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input type="text" matInput formControlName="firstName" required (keyup.enter)="signup()" [errorStateMatcher]="matcher">
        <mat-error *ngIf="signupForm.get('firstName').hasError('required')">
          First name is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input type="text" matInput formControlName="lastName" required (keyup.enter)="signup()" [errorStateMatcher]="matcher">
        <mat-error *ngIf="signupForm.get('lastName').hasError('required')">
          Last name is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" required (keyup)="checkUserInDB()" (keyup.enter)="signup()" [errorStateMatcher]="matcher">
        <mat-error *ngIf="signupForm.get('email').hasError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="signupForm.get('email').hasError('email')">
          Enter a valid email address.
        </mat-error>
        <mat-error *ngIf="signupForm.get('email').hasError('accountAlreadyExists')">
          This account already exists.
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutGap="1em">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" required (keyup)="verifyPassword()" (keyup.enter)="signup()" [errorStateMatcher]="matcher">
        <mat-error *ngIf="signupForm.get('password').hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="signupForm.get('password').hasError('passwordsDoNotMatch')">
          Passwords do not match.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="passwordConfirm" required (keyup)="verifyPassword()" (keyup.enter)="signup()" [errorStateMatcher]="matcher">
        <mat-error *ngIf="signupForm.get('passwordConfirm').hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="signupForm.get('passwordConfirm').hasError('passwordsDoNotMatch')">
          Passwords do not match.
        </mat-error>
      </mat-form-field>
    </div>

  </form>

</div>

<div mat-dialog-actions>
  <button mat-stroked-button type="button" fxFlex="100" class="create-account-btn" [disabled]="!signupForm.valid" (keyup.enter)="signup()" (click)="signup()">CREATE ACCOUNT</button>
</div>
