<mat-sidenav-container class="mat-sidenav-container" (backdropClick)="close('backdrop')">
  <mat-sidenav class="mat-sidenav xs" #sidenav (keydown.escape)="close('escape')" disableClose fxHide.gt-xs mode="over">

    <div fxLayout="row" fxLayoutAlign="start" class="mat-sidenav-top">
      <div class="user-name" *ngIf="userService.accessToken != null" fxLayout="row" fxLayoutAlign="center center">
        <img [src]="userService.gravatarProfileImg" class="gravatar-profile-img" alt="">{{userService.userFullName}}
      </div>
      <span class="spacer"></span>
      <button mat-icon-button (click)="close('close icon')">
        <span><i class="fas fa-times"></i></span>
      </button>
    </div>

    <div *ngIf="userService.accessToken != null">

      <mat-divider></mat-divider>

      <button mat-menu-item routerLinkActive="true" routerLink="library" (click)="close('router')">My Library</button>
      <button mat-menu-item routerLinkActive="true" routerLink="library" (click)="close('router')">My Profile</button>
      <button mat-menu-item routerLinkActive="true" (click)="logout()"><i class="fas fa-sign-out-alt fa-fw"></i>&nbsp;Log Out</button>

      <mat-divider></mat-divider>

    </div>

  </mat-sidenav>

  <!--<mat-sidenav class="mat-sidenav gt-xs" fxHide.xs opened mode="side">-->
    <!--Test-->
  <!--</mat-sidenav>-->

  <mat-sidenav-content class="mat-sidenav-content">

    <app-navbar [title]="title"></app-navbar>

    <div class="container" ngClass.lt-sm="xs">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
