<div class="content" fxLayout="column" fxLayoutGap="1em">

  <div class="page-header">My Books</div>

  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap.xs="0.2em">

    <button mat-stroked-button routerLinkActive="true" routerLink="/library/books/lookup">
      <span><i class="fas fa-search"></i>&nbsp;LOOK UP BOOKS</span>
    </button>

    <span class="spacer"></span>

    <div fxLayoutGap="0.2em">
      <button mat-stroked-button [ngClass]="!isGrid ? 'selected view-btn' : 'view-btn'" (click)="updateBooksDisplayStyle(false)">
        <i class="fas fa-list-ul fa-sm fa-fw"></i>
      </button>

      <button mat-stroked-button [ngClass]="isGrid ? 'selected view-btn' : 'view-btn'" (click)="updateBooksDisplayStyle(true)">
        <i class="fas fa-th fa-sm fa-fw"></i>
      </button>
    </div>

  </div>

  <div fxLayoutAlign="center">
    <app-view-books-table [books]="books" (openDialogEvent)="openDialog($event)" *ngIf="books && !isLoading && !isGrid"></app-view-books-table>
    <app-view-books-cards [books]="books" *ngIf="books && !isLoading && isGrid"></app-view-books-cards>
  </div>

</div>


