<div fxLayout="column" fxLayoutGap="0.5em" class="welcome-box mat-elevation-z3">
  <div class="welcome-header">
    Keeping track of your books made easy!
  </div>
  <div class="welcome-content">
    <p>
      Create and browse an inventory of books that you own!
    </p>
    <p>
      Keep track of which books you have in your possession and which ones you have read with an intuitive, visually-pleasing app.
    </p>
  </div>
  <div class="welcome-actions" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
    <button mat-stroked-button fxFlex="45">SIGN UP</button>
    <button mat-stroked-button fxFlex="45" routerLink="library" routerLinkActive="active">LOGIN</button>
  </div>
</div>
