<div class="content" fxLayout="column" fxLayoutGap="1em">

  <div class="page-header">My Library</div>

  <div fxLayout="row wrap" fxLayoutAlign="center start">
    <mat-card class="dashboard-module">
      <mat-card-content>
        THIS IS A MODULE
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-module">
      <mat-card-content>
        THIS IS A MODULE
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-module">
      <mat-card-content>
        THIS IS A MODULE
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5em">
    <button mat-stroked-button routerLinkActive="true" routerLink="/library/books">BROWSE BOOKS</button>
    <button mat-stroked-button routerLinkActive="true" routerLink="/library/authors">BROWSE AUTHORS</button>
  </div>

</div>
